/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: 'FuturaBQ';
  src: local('FuturaBQ'), url(./assets/fonts/FuturaBQ-DemiBold.otf) format('woff');
}

html {
  /* min-width: 1920px; */
}

/* html::after {
  content: "";
  min-width: 1920px;
  min-height: 930px;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  height: 24px;
  width: 24px;
  fill: #f6f6f6;
  stroke: #f6f6f6;
  stroke-width: 0;
}

.hero-detail-role-icon {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 14px;
  fill: #f6f6f6;
  height: 24px;
  width: 24px;
}